body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #e5e5e5;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.logo {
  margin-left: 24px;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
  padding-right: 200px;
  margin-top: 25px;
  transition: transform 0.3s ease-in-out;
}

.logo:hover {
  animation: shake 0.5s ease-in-out;
  transform: scale(1.1);
}

@keyframes shake {
  0% { transform: rotate(0); }
  25% { transform: rotate(-5deg); }
  50% { transform: rotate(0); }
  75% { transform: rotate(5deg); }
  100% { transform: rotate(0); }
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-top: 25px;
}

.intro {
  margin: 0;
  padding-top: 93px;
  padding-left: 24px;
  padding-right: 24px;
  height: 150px;
  width: 87.2%;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding-left: 24px;
  padding-right: 24px;
}

.social-media {
  display: flex;
  flex-direction: column;
}

.contact {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  padding: 0 24px;
  text-decoration: none;
  margin-bottom: 0;
}

.social-link {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 24px;
  gap: 0 12px;
  transition: transform 0.3s ease-in-out;
}

.social-link li a i {
  color: #333;
  transition: color 0.3s ease-in-out;
}

.social-link li:hover a i {
  color: #6070ff;
}

.social-link li a i:hover {
  animation: spin 1s ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes spin {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}

.language li {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  background: #ebebff;
  border-radius: 8px;
}

.icon-languages li {
  display: flex;
  align-items: center;
  background: #f7f7f9;
  border-radius: 8px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  margin: 16px;
  gap: 16px;
  padding: 12px;
}

.nav-links-mobile li {
  list-style: none;
}

.social-link li:hover {
  transform: scale(1.2);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  margin: 92px 0;
  background-image: url(images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 60px;
  background-color: #fff;
}

.fa-bars {
  color: #6070ff;
  margin-right: 15px;
  margin-top: 20px;
}

.fa-linkedin,
.fa-github,
.fa-medium,
.fa-twitter,
.fa-angellist {
  color: #505f79;
}

/* Work Section */

.work {
  margin: 114px 0;
  display: grid;
  grid-template-columns: 88vw;
  grid-template-rows: repeat(4, auto);
  justify-content: center;
  row-gap: 88px;
  padding: 0 24px;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 16px;
}

.project__image {
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.project__image:hover {
  transform: scale(1.1);
}

.project__details {
  width: 100%;
}

.project__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 138%;
  color: #172b4d;
  margin-bottom: 20px;
}

.project-creator {
  display: flex;
  align-items: baseline;
  font-weight: 600;
  font-size: 13px;
  line-height: 123%;
  margin-bottom: 20px;
}

.project-creator__name {
  display: inline-block;
  text-transform: uppercase;
}

.project-creator__details {
  display: inline-block;
  color: #7a869a;
}

.circle {
  font-size: 18px;
  margin-left: 12px;
  margin-right: 12px;
}

.project__description {
  font-size: 14px;
  line-height: 160%;
  margin-bottom: 12px;
}

.project__description2 {
  display: none;
}

.project__languages {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
}

.project__language__item {
  color: #6070ff;
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  border: 1px solid transparent;
  background-color: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  list-style: none;
}

.project__button {
  font-family: Poppins, sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 141%;
  color: #396df2;
  background-color: #fff;
  border: 1px solid #396df2;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 12px;
  transition: all 0.5s ease-in-out;
}

/* Modal Section */

.hidden {
  display: none;
}

.modal {
  box-sizing: border-box;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  padding: 40px 16px;
  height: 100vh;
  overflow: auto;
  background-color: rgba(193, 199, 208, 0.4);
  backdrop-filter: blur(5px);
}

.modal-card {
  background-color: #fff;
  padding: 18px;
  border-radius: 8px;
}

.modal-top {
  display: flex;
  justify-content: space-between;
}

.modal__closer {
  display: block;
  width: 12px;
  height: 12px;
  margin-top: 12px;
  background: url(./images/x-grey.svg) no-repeat center;
  background-size: cover;
  border-style: none;
}

.modal-bottom {
  display: flex;
  justify-content: space-between;
  padding: 7px;
}

.modal__button {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  gap: 8px;
  width: 38%;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 133%;
  color: #396df2;
  border: 1px solid #396df2;
  background-color: #fff;
  border-radius: 8px;
  padding: 14px;
  margin-bottom: 12px;
  transition: all 0.5s ease-in-out;
  text-decoration-line: none;
}

.modal__button:hover {
  background-color: #6070ff; /* Hover background color */
  color: #fff;
}

.modal__button:active {
  background-color: #2230d2; /* Pressed background color */
}

.modal__button:disabled {
  background-color: #ccc; /* Disabled background color */
  cursor: not-allowed;
}

.button__image {
  display: inline-block;
  margin-left: 1%;
  width: 18px;
}

#about_section {
  background-color: #fff;
  border-top-right-radius: 70px;
  padding-top: 8%;
  margin-top: 12px;
  width: 100%;
}

button {
  border: 1px solid #6070ff;
  padding: 12px;
  border-radius: 8px;
  color: #396df2;
  margin-left: 16px;
  margin-bottom: 30px;
  background-color: #fff;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #6070ff; /* Hover background color */
  color: #fff;
}

button:active {
  background-color: #2230d2; /* Pressed background color */
}

button:disabled {
  background-color: #ccc; /* Disabled background color */
  cursor: not-allowed;
}

.resume {
  padding: 12px;
  border-radius: 8px;
  color: #396df2;
  display: inline-block;
  font-weight: 500;
  font-size: 17px;
  text-decoration: none;
}

.abt-heading {
  margin: 0;
  padding-top: 110px;
  padding-left: 24px;
  padding-right: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.abt-desc {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  align-items: center;
  margin-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
}

.Language {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-left: 24px;
  list-style-type: none;
}

.fa-angle-down,
.fa-angle-right {
  padding-right: 64px;
  color: #505f79;
}

.icon-languages {
  padding-left: 0;
  display: grid;
}

.frame {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-left: 24px;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
}

.line {
  width: 100%;
  background: #dfe1e6;
}

.duo {
  background-color: #fff;
  border-top-right-radius: 70px;
}

#contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #6070ff;
  width: 100%;
  border-radius: 70px 0 0 0;
  background-image: url(images/contact\ form\ shapes-mobile@2x.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  height: auto;
  margin-top: 143px;
}

.contatct-head {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  padding-top: 90px;
  margin-top: 0;
  margin-bottom: 0%;
}

.contact-desc {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #ebebff;
  padding: 0 0 52px 0;
  text-align: center;
  margin-left: 0;
  margin-bottom: 0;
}

input[type="text"],
input[type="email"],
textarea {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
}

form {
  padding-right: 18px;
}

.submit {
  padding: 12px 18px;
  margin-left: 0;
}

.menu {
  display: none;
}

.menu-mobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background-color: #6070ff;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.menu-mobile.active {
  opacity: 0.9;
  visibility: visible;
}

.nav-links-mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  height: 100%;
  margin-top: 160px;
}

.a-links {
  display: block;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

/* Burger and close icon styles */
.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.close-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
  }

  .logo {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #6070ff;
    margin-left: 100px;
    margin-top: 20px;
  }

  .logo span {
    display: none;
  }

  .burger {
    display: none;
  }

  .menu {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
  }

  .menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu li {
    margin: 0 1rem;
  }

  .menu li a {
    color: #344563;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(images/Header\ bg@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
  }

  .intro {
    margin: 0;
    padding-top: 80px;
    padding-left: 24px;
    padding-right: 24px;
    height: 150px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
    color: #172b4d;
    width: 64%;
  }

  .description {
    margin: 0;
    padding-left: 24px;
    padding-right: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    align-items: center;
    width: 64%;
  }

  .social-media {
    align-self: flex-start;
    position: relative;
    left: 16%;
  }

  /* Work Section */

  .work {
    display: grid;
    grid-template-rows: repeat(4, auto);
    column-gap: 24px;
    row-gap: 142px;
    margin: 142px;
  }

  .project {
    padding: 24px;
    flex-direction: row;
    column-gap: 46px;
    max-width: 1156px;
    margin: 0 auto;
  }

  .row-reverse {
    flex-direction: row-reverse;
  }

  .project__image {
    width: 50%;
  }

  .project__details {
    width: 50%;
  }

  .project__title {
    font-size: 40px;
    line-height: 60%;
    margin-top: 10px;
  }

  .project__creator {
    font-size: 18px;
    line-height: 133%;
    margin-bottom: 32px;
  }

  .project-creator__name {
    font-weight: 500;
  }

  .project-creator__details {
    font-weight: 400;
  }

  .project__description {
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 24px;
  }

  .project__description2 {
    display: block;
  }

  .project__languages {
    margin-bottom: 40px;
  }

  /* Modal  Section */

  .modal {
    padding: 1% 8%;
    overflow-y: hidden;
  }

  .modal-card {
    padding: 24px;
    padding-bottom: 30px;
    margin: 0 auto;
    width: 77%;
    height: 87vh;
    overflow-y: scroll;
  }

  .modal__details {
    width: 100%;
  }

  .modal__closer {
    margin-right: 15px;
  }

  .modal__image-container {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    height: 45vh;
    overflow-y: hidden;
  }

  .modal__image {
    object-fit: cover;
    width: 90%;
    object-position: right  -79px;
  }

  .modal__desktop-wrapper {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(10, [col-start] 1fr);
    column-gap: 15px;
  }

  .modal__description {
    grid-column: col-start 1 / span 7;
  }

  .modal__right-column {
    grid-column: col-start 8 / span 3;
  }

  .modal__languages {
    margin-bottom: 24px;
  }

  .modal-bottom {
    display: flex;
    justify-content: space-between;
    padding: 2px;
  }

  .modal__button {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
    text-align: center;
    width: 42%;
    padding: 8px 6px;
    font-size: 0.77rem;
  }

  .about_me_title button {
    margin-left: 24px;
    margin-top: 20px;
  }

  #about_section {
    display: grid;
    grid-template-columns: 40% 60%;
    border-top-right-radius: 70px;
    width: 100%;
    height: auto;
  }

  h4 {
    margin-top: 30px;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #344563;
  }

  .Language h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #344563;
  }

  .abt-heading {
    padding-top: 116px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    font-family: "Poppins", sans-serif;
    color: #091e42;
  }

  .abt-desc {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .about_me_title {
    margin-left: 15%;
  }

  .duo {
    background-color: #fff;
    width: 100%;
  }

  .skills {
    margin-top: 90px;
    margin-bottom: 80px;
    font-size: 2vw;
  }

  .icon-languages {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    margin-top: 0;
  }

  .icon-languages li {
    align-items: flex-start;
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }

  #contact-me {
    background-image: url(images/conback.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 70px;
    width: 100%;
  }

  .icon-li {
    width: 122px;
    height: 120px;
    margin: 0;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 440px;
    border-radius: 2px;
  }

  .submit {
    margin-left: 36%;
  }

  .frame {
    margin-bottom: 23px;
  }

  .paragraph {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin-bottom: 30px;
  }
}
