body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #e5e5e5;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.logo {
  margin-left: 24px;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
  padding-right: 200px;
  margin-top: 25px;
  transition: transform 0.3s ease-in-out;
}

.logo:hover {
  animation: shake 0.5s ease-in-out;
  transform: scale(1.1);
}

@keyframes shake {
  0% { transform: rotate(0); }
  25% { transform: rotate(-5deg); }
  50% { transform: rotate(0); }
  75% { transform: rotate(5deg); }
  100% { transform: rotate(0); }
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-top: 25px;
}

.intro {
  margin: 0;
  padding-top: 93px;
  padding-left: 24px;
  padding-right: 24px;
  height: 150px;
  width: 87.2%;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding-left: 24px;
  padding-right: 24px;
}

.social-media {
  display: flex;
  flex-direction: column;
}

.contact {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  padding: 0 24px;
  text-decoration: none;
  margin-bottom: 0;
}

.social-link {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 24px;
  gap: 0 12px;
  transition: transform 0.3s ease-in-out;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  margin: 92px 0;
  background-image: url(images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
  width: 100%;
  height: 604px;
  border-bottom-left-radius: 60px;
  background-color: #fff;
}

.fa-bars {
  color: #6070ff;
  margin-right: 15px;
  margin-top: 20px;
}

.fa-linkedin,
.fa-github,
.fa-medium,
.fa-twitter,
.fa-angellist {
  color: #505f79;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  border: solid #e5e5e5 1px;
  background-color: #fff;
  justify-content: center;
  padding: 16px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.2);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  position: relative;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px rgba(0, 0, 255, 0.4);
}

.snapshot {
  width: 100%;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-bottom: 0;
}

.detail {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
}

.main {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  margin-right: 10px;
  padding-right: 12px;
}

.main2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  margin-right: 10px;
  padding-right: 12px;
  float: left;
  list-style-type: disc;
  color: #7a869a;
}

.paragraph {
  margin-top: 15px;
  padding-right: 16px;
}

.shor-descr {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #344563;
}

.language {
  display: flex;
  align-items: center;
  list-style: none;
  flex-direction: row;
  text-align: center;
  margin-bottom: 36px;
  margin-top: 12px;
  padding-left: 0;
  gap: 12px;
}

.language li {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  background: #ebebff;
  border-radius: 8px;
}

.icon-languages li {
  display: flex;
  align-items: center;
  background: #f7f7f9;
  border-radius: 8px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  margin: 16px;
  gap: 16px;
  padding: 12px;
}


.Projects {
  margin-top: 114px;
  margin-right: 10px;
  display: grid;
  grid-template-rows: auto;
  gap: 10px;
}

.about_section {
  background-color: #fff;
  border-top-right-radius: 70px;
  padding-top: 8%;
  margin-top: 12px;
  width: 100%;
}

button {
  border: 1px solid #6070ff;
  padding: 12px;
  border-radius: 8px;
  color: #396df2;
  margin-left: 16px;
  margin-bottom: 30px;
  background-color: #fff;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #6070ff; /* Hover background color */
  color: #fff;
}

button:active {
  background-color: #2230d2; /* Pressed background color */
}

button:disabled {
  background-color: #ccc; /* Disabled background color */
  cursor: not-allowed;
}

.resume {
  padding: 12px;
  border-radius: 8px;
  color: #396df2;
  display: inline-block;
  font-weight: 500;
  font-size: 17px;
  text-decoration: none;
}

.abt-heading {
  margin: 0;
  padding-top: 110px;
  padding-left: 24px;
  padding-right: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.abt-desc {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  align-items: center;
  margin-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
}

.Language {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-left: 24px;
  list-style-type: none;
}

.fa-angle-down,
.fa-angle-right {
  padding-right: 64px;
  color: #505f79;
}

.icon-languages {
  padding-left: 0;
  display: grid;
}

.frame {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-left: 24px;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
}

.line {
  width: 100%;
  background: #dfe1e6;
}

.duo {
  background-color: #fff;
}

#contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #6070ff;
  width: 100%;
  border-radius: 70px 0 0 0;
  background-image: url(images/contact\ form\ shapes-mobile@2x.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  height: auto;
  margin-top: 143px;
}

.contatct-head {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  padding-top: 90px;
  margin-top: 0;
  margin-bottom: 0%;
}

.contact-desc {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #ebebff;
  padding: 0 0 52px 0;
  text-align: center;
  margin-left: 0;
  margin-bottom: 0;
}

input[type="text"],
input[type="email"],
textarea {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
}

form {
  padding-right: 18px;
}

.submit {
  padding: 12px 18px;
  margin-left: 0;
}

.menu {
  display: none;
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
  }

  .logo {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #6070ff;
    margin-left: 100px;
    margin-top: 20px;
  }

  .logo span {
    display: none;
  }

  .burger {
    display: none;
  }

  .menu {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
  }

  .menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu li {
    margin: 0 1rem;
  }

  .menu li a {
    color: #344563;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(images/Header\ bg@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
  }

  .intro {
    margin: 0;
    padding-top: 80px;
    padding-left: 24px;
    padding-right: 24px;
    height: 150px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
    color: #172b4d;
    width: 64%;
  }

  .description {
    margin: 0;
    padding-left: 24px;
    padding-right: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    align-items: center;
    width: 64%;
  }

  .social-media {
    align-self: flex-start;
    position: relative;
    left: 16%;
  }

  .Projects {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(1fr);
    place-items: center;
    margin-top: 100px;
    gap: 50px;
  }

  .card {
    display: flex;
    flex-direction: row;
    border: 1px solid #dfe1e6;
    height: 496px;
    width: 80%;
    justify-content: center;
    padding: 16px;
    border-radius: 16px;
    background-color: #fff;
  }

  .card-text h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 20px;
    color: #091e42;
  }

  .detail {
    margin-bottom: 40px;
  }

  .right button {
    margin-left: 0;
  }

  .reverse {
    flex-direction: row-reverse;
    display: flex;
    border: 1px solid #dfe1e6;
    height: 496px;
    width: 80%;
    justify-content: center;
    padding: 16px;
    border-radius: 16px;
    background-color: #fff;
  }

  .reverse h2 {
    margin-right: 26.56px;
  }

  .snapshot {
    width: 46%;
    margin: 2%;
  }

  .right {
    color: #344563;
    font-size: 2vw;
    margin: 2%;
    width: 46%;
  }

  .about_me_title button {
    margin-left: 24px;
    margin-top: 20px;
  }

  .about_section {
    display: grid;
    grid-template-columns: 40% 60%;
    border-top-right-radius: 70px;
    width: 100%;
    height: auto;
  }

  h4 {
    margin-top: 30px;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #344563;
  }

  .Language h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #344563;
  }

  .abt-heading {
    padding-top: 116px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    font-family: "Poppins", sans-serif;
    color: #091e42;
  }

  .abt-desc {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .about_me_title {
    margin-left: 15%;
  }

  .duo {
    background-color: #fff;
    width: 100%;
  }

  .skills {
    margin-top: 90px;
    margin-bottom: 80px;
    font-size: 2vw;
  }

  .icon-languages {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    margin-top: 0;
  }

  .icon-languages li {
    align-items: flex-start;
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }

  #contact-me {
    background-image: url(images/conback.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 70px;
    width: 100%;
  }

  .icon-li {
    width: 122px;
    height: 120px;
    margin: 0;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 440px;
    border-radius: 2px;
  }

  .submit {
    margin-left: 36%;
  }

  .frame {
    margin-bottom: 23px;
  }

  .paragraph {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin-bottom: 30px;
  }
}
